educationContentHolder.html
<span class="education general_assembly">
    GENERAL ASSEMBLY
    <p class='general_assembly'>
        Kitty loves pigs eat a plant, kill a hand, or peer out window, chatter at birds, lure them to mouth lies down . Shove bum in owner's face like camera lens inspect anything brought into the house, so stare at ceiling light so walk on car leaving trail of paw prints on hood and windshield lay on arms while you're using the keyboard jumps off balcony gives owner dead mouse at present then poops in litter box snatches yarn and fights with dog cat chases laser then plays in grass finds tiny spot in cupboard and sleeps all day jumps in bathtub and meows when owner fills food dish the cat knocks over the food dish cat slides down the water slide and into pool and swims even though it does not like water for mew.
      </p>
      </span>
    <span class="education app_academy">
    APP ACADEMY PREP COURSE
    <p class='app_academy'>
        Kitty loves pigs eat a plant, kill a hand, or peer out window, chatter at birds, lure them to mouth lies down . Shove bum in owner's face like camera lens inspect anything brought into the house, so stare at ceiling light so walk on car leaving trail of paw prints on hood and windshield lay on arms while you're using the keyboard jumps off balcony gives owner dead mouse at present then poops in litter box snatches yarn and fights with dog cat chases laser then plays in grass finds tiny spot in cupboard and sleeps all day jumps in bathtub and meows when owner fills food dish the cat knocks over the food dish cat slides down the water slide and into pool and swims even though it does not like water for mew.
      </p>
      </span>
    <span class="education u_of_o">
    UNIVERSITY OF OREGON
      <p class='u_of_o'>
          Kitty loves pigs eat a plant, kill a hand, or peer out window, chatter at birds, lure them to mouth lies down . Shove bum in owner's face like camera lens inspect anything brought into the house, so stare at ceiling light so walk on car leaving trail of paw prints on hood and windshield lay on arms while you're using the keyboard jumps off balcony gives owner dead mouse at present then poops in litter box snatches yarn and fights with dog cat chases laser then plays in grass finds tiny spot in cupboard and sleeps all day jumps in bathtub and meows when owner fills food dish the cat knocks over the food dish cat slides down the water slide and into pool and swims even though it does not like water for mew.
        </p>
    </span>
